Options -Indexes
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    # Ativar o uso do arquivo .htaccess
    RewriteEngine On

	## Redirecionar para site com ssl ##
	RewriteCond %{HTTPS} off
	RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Ignorar requisições de arquivos estáticos
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|css|js|mp4)$ [NC]
    

    # Redirecionar todas as outras requisições
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]

</IfModule>


<files ~ "^.*\.([Hh][Tt][Aa])">
    order allow,deny
    deny from all
    satisfy all
</files>